<div class="login-box">
    <div class="login-logo">
        <a><b>Blog</b></a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Digite seu endereço de e-mail para que possamos enviar um link para a recuperação de sua senha.</p>
        <form name="forgotForm" data-ng-submit="sendResetLinkEmail($event)" novalidate>
            <div class="form-group has-feedback" data-ng-class="{'has-error': forgotForm.email.$invalid && forgotForm.email.$touched}">
                <input class="form-control" name="email" type="email" placeholder="E-mail"
                    data-ng-model="email"
                    data-ng-required="true"
                    data-validate-email="true"
                >
                <span class="fa fa-envelope form-control-feedback"></span>

                <div class="help-block" data-ng-show="forgotForm.$submitted || forgotForm.email.$touched" data-ng-messages="forgotForm.email.$error">
                    <div data-ng-messages-include="validation-messages"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <button class="btn btn-primary btn-block btn-flat" type="submit" data-ng-disabled="forgotForm.$invalid">Enviar e-mail</button>
                </div>
            </div><!-- / .row -->
        </form>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
