<script id="validation-messages" type="text/ng-template">
    <span data-ng-message="required" class="text-red">Este campo é obrigatório.</span>
    <span data-ng-message="email" class="text-red">Endereço de e-mail inválido.</span>
    <span data-ng-message="minlength" class="text-red">Este campo é muito curto.</span>
    <span data-ng-message="maxlength" class="text-red">Este campo é muito longo.</span>
    <span data-ng-message="validatePasswordConfirmation" class="text-red">As senhas informadas não correspondem.</span>
</script>
